<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/ArduinoTemperatureLogger.log"/>
    <target xsi:type="FormControl" name="form" layout="${time}|${level:uppercase=true}|${message}${newline}" append="true" controlName="txtLog" formName="MainWindow" reverseOrder ="true"    />
    <target xsi:type="NlogViewer" name="ctrl"  />
    </targets>
    
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
    <logger name="*" minlevel="Debug" writeTo="file"/>
    <logger name="*" minlevel="Debug" writeTo="form"/>
  </rules>
</nlog>